{{ define "main" }} {{ .Content }}
<hr class="border" />
{{/* Get current year and last 2 years */}} {{ $now := now }}
{{ $currentYear := $now.Year }} 
{{ $years := slice $currentYear (sub $currentYear 1) (sub $currentYear 2) }}
{{ $posts := where .Site.RegularPages "Section" "blog" }}
{{ range $years }} {{ $year := . }}
{{ $yearPosts := where $posts "Date.Year" $year }}
{{ if gt (len $yearPosts) 0 }}
<h1 class="h1">{{ $year }}</h1>
<ul>
    {{ range $yearPosts }}
    <h2 class="h2">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    <p class="text-body-secondary">{{ .Date.Format "Jan 02" }}</p>
    {{ .Summary }} {{ end }}
</ul>
{{ end }} {{ end }} {{ end }}
