{{ define "main" }} {{ .Content }}
<hr class="border" />
{{/* Get current year and last 2 years */}} {{ $now := now }}
{{ $currentYear := $now.Year }} 
{{ $years := slice $currentYear (sub $currentYear 1) (sub $currentYear 2) }}
{{ $posts := where .Site.RegularPages "Section" "blog" }}
{{ range $years }} {{ $year := . }}
{{ $yearPosts := where $posts "Date.Year" $year }}
{{ if gt (len $yearPosts) 0 }}
<h3 class="h1 text-center">{{ $year }}</h3>
<hr class="border" />
<ul class="post-list" style="padding-left: 0em">
    {{ range $yearPosts }}
    <li class="no-bullet">
    <h4 class="h2 float-start">
        <a class="link-underline link-underline-opacity-0" href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
        </a>
    </h4>
    <p class="text-body-secondary float-end">{{ .Date.Format "Jan 02" }}</p></br>
    <div class="mt-2">
    {{ .Summary }}
    </div>
    </li>
    {{ end }}
</ul>
{{ end }} {{ end }} {{ end }}
