{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<div class="container">
    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
        {{ range .Pages }}
        <div class="col">
            <div class="card p-0" style="height: 100%">
                <img
                    src="{{ .Params.thumbnail }}"
                    class="card-img-top"
                    alt=" {{ .Title }}"
                />
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    </h5>
                    <p class="card-text">{{ .Summary | plainify }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
