{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<div class="container">
    <div class="row row-cols-3">
        {{ range .Pages }}
        <div class="card col" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </h5>
                <p class="card-text">{{ .Summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
