/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
==========================================================================
Custom Styles
==========================================================================
*/

body {
    background-color: #009b77;
    color: white;
    font: 400 16px/22px "Libre Baskerville", Garamond, serif;
}

/*
==========================================================================
Grid

border-box combines all the box measurements when using "width" and 
"height, making it eaiser to calculate their size.
==========================================================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container,
.grid {
    margin: 0 auto;
    width: 1100px;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}
.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}
.col-1-3 {
    width: 33%;
}
.col-2-3 {
    width: 66.66%;
}

/*
==========================================================================
Clearfix
==========================================================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*
==========================================================================
Rows
==========================================================================
*/
.row,
.row-alt,
.row-projects {
    min-width: 1130px;
    background: white;
}

.row-projects {
    padding: 0 0 44px 30px;
}

.row {
    padding: 66px 0 44px 30px;
    margin-top: 10px;
}

.row-alt {
    padding: 66px 0 4px 30px;
    margin-top: 10px;
}

/*
==========================================================================
Typography
==========================================================================
*/

h1, h2, h3, h4 {
    color: black;
}
h1, h3, h4, h5, p {
    margin-bottom: 22px;
}
h1 {
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
p {
    margin-bottom: 0 }
p + p {
    text-indent: 1.5em;
    margin-top: 0 }
strong {
    font-weight: 400;
}
cite,
em {
    font-style: italic;
}

/*
==========================================================================
Links
==========================================================================
*/

a {
    color: #F09600;
    text-decoration: none;
}
a:hover {
    color: #915c00;
}
p a {
    border-bottom: 1px solid #F09600;
}
.primary-header a,
.primary-footer a {
    color: white;
}
.primary-header a:hover,
.primary-footer a:hover {
    color: #333;
}


/*
==========================================================================
Primary header
==========================================================================
*/

.logo {
    border-top: 4px solid #F09600;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}
.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
    color: white;
    padding-bottom: 10px;
}

/*
==========================================================================
Navigation bar
==========================================================================
*/

.navbar {
    text-align: right;
}

.navbar a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 30px;
}

a.active {
    background-color: #F09600;
}

.navbar a:hover {
    background-color: #333;
    color: white;
}

.navbar li {
    display: inline-block;
    vertical-align: top;
}

.navbar li:last-child {
    margin-right: 0;
}

/*
==========================================================================
Primary footer
==========================================================================
*/

.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
.primary-footer small {
    color: white;
    float: left;
    font-weight: 400;
}

/*
==========================================================================
Navigation
==========================================================================
*/

.nav {
    text-align: right;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li:last-child {
    margin-right: 0;
}

/*
==========================================================================
Lead
==========================================================================
*/

.lead h2{
    font-size: 28px;
    color: #F09600;
    margin-bottom: 44px;
    border-bottom: 2px solid #F09600;
}

/*
==========================================================================
About
==========================================================================
*/

.about {
    margin-bottom: 44px;
}

.about h2 {
    font-size: 28px;
    color: #F09600;
    margin-bottom: 44px;
    border-bottom: 2px solid #F09600;
}

.about p {
    color: black;
}

.about-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
}

.about-info a {
    text-decoration: underline;
}

.about-info img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

/*
==========================================================================
Projects
==========================================================================
*/

.projects h3 {
    color: #009b77;
}

.projects p {
    color: black;
    font-size: 12px;
}

.projects a:hover h3 {
    color: #646464;
}
.projects img {
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    max-width: 100%
}