<div class="container pt-2">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="h3">
                <a
                    href="/"
                    class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
                >
                    {{ site.Title }}
                </a>
            </h1>
        </div>
        <div class="col-lg-6">
            <h2 class="h3 text-end text-body-secondary" id="subtitle">
                {{ site.Params.subtitle }}
            </h2>
        </div>
    </div>
</div>
<hr class="border" />
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<hr class="border" />
